<!DOCTYPE html>
<html>
<title>ADMIN HOME PAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.hide{
  width: 0rem;
}
.blackbox:hover hide{
  background-color: black;
  color: white;
  border-radius: 1rem;
  width: 4rem;
}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><a href='/logout'>Logout</a></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="https://logodix.com/logo/1707088.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{NAME}}</strong></span><br>
      <a href="/your_details" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/admin_home" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="/manage_products" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Products</a>
    <a href="/Manage_Employees" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Manage Employees</a>
    <a href="/manage_suppliers" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Suppliers</a>
    <a href="/manage_orders" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
  </div>
</nav>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
  <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
  <path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z"/>
</svg> Employee Details</b></h5>
  </header>

<form action="/edit_employee" method="post">
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="">
        <table class="w3-table w3-striped w3-white" border="2px">
          <tr>
              <th><h5>ID</h5></th>
              <th><h5>Email</h5></th>
              <th><h5>Name</h5></th>
              <th><h5>Phone Number</h5></th>
              <th><h5>Optional Phone</h5></th>
              <th><h5>Gender</h5></th>
              <th><h5>Birth Date</h5></th>
              <th><h5>Address</h5></th>

            </tr>
            <tr>
              <td>
                {{x[0]}}
              </td>
              <td>
                {{x[1]}}
              </td>
              <td>
                {{x[2]}}
              </td>
              
              <td>
                {{x[3]}}
              </td>
              <td>
                {{x[5]}}
              </td>
              <td>
                {{x[6]}}
              </td>
              
              <td>
                {{x[7]}}
              </td>
              <td>
                {{x[8]}}
              </td>


            </tr>

            

          <tr>
            <td colspan="3">
                
            </td>
          </tr>
        </table>

        <!-- Login history table -->
        <br><br>
        <table class="w3-table w3-striped w3-white" border="2px">
            <tr>
                <th>Login History Id</th>
                <th>Login Date</th>
                <th>Login Time</th>
            </tr>


            {% for x in history %}

            <tr>
                <td>{{ x[0] }}</td>
                <td>{{ x[1] }}</td>
                <td>{{ x[2] }}</td>

            </tr>


            {% endfor %}
        </table>

      </div>
    </div>
  </div>
</form>


  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
